asgiref
cryptography
Flask
flask-limiter
Flask-WTF
gunicorn
lxml
mwclient
mwoauth
pymysql
python-dotenv
requests
tqdm
uvicorn
wikitextparser
colorlog
CopySVGTranslation>=0.1.6
sqlalchemy
Flask-SQLAlchemy>=3.1.0
Flask-Migrate>=4.0.0
Flask-Admin>=2.2.0
