asgiref
cryptography
Flask
flask-limiter
Flask-WTF
gunicorn
lxml
# lxml-stubs # For type stubs
mwclient
mwoauth
pymysql
python-dotenv
requests
tqdm
uvicorn
wikitextparser
colorlog
# CopySVGTranslation>=0.2.6
git+https://github.com/MrIbrahem/CopySVGTranslation.git@main
sqlalchemy
Flask-SQLAlchemy>=3.1.0
Flask-Migrate>=4.0.0
Flask-Babel
Flask-Admin
WTForms
Flask-wtf
