{% extends "base.html" %}

{% block title %} {{ tool_title }} {% endblock %}

{% block content_fluid %}

<div class="container">
    <h1 class="mb-3">{{ tool_title }}</h1>
    <form method="post" action="{{ url_for('public_jobs.start_job', job_type='copy_svg_langs') }}"
        class="row gy-2 gx-3 align-items-center mb-4">
        {{ form.hidden_tag() }}

        <div class="col-sm-12 col-md-4">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control wiki-autocomplete-templates" ~ (" is-invalid" if form.title.errors else "")) }}
            {% for error in form.title.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="col-sm-12 col-md-4">
            {{ form.manual_main_title.label(class="form-label") }}
            {{ form.manual_main_title(class="form-control") }}
        </div>

        <div class="col-sm-12 col-md-4 d-flex align-items-end">
            {{ form.submit(class="btn btn-outline-primary w-100") }}
        </div>

        <div class="row">
            <div class="col-6 col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-check form-switch mt-2">
                            {{ form.overwrite_translations(class="form-check-input") }}
                            {{ form.overwrite_translations.label(class="form-check-label") }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-check form-switch mt-2">
                            {{ form.upload(class="form-check-input") }}
                            {{ form.upload.label(class="form-check-label") }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-check form-switch mt-2">
                            {{ form.overwrite_download(class="form-check-input") }}
                            {{ form.overwrite_download.label(class="form-check-label") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="alert alert-info" role="alert">
        This tool automates the translation and preparation of Wikimedia Commons SVG graphics.
        Given a template title, it fetches the template's wikitext and identifies the SVG files.
        It then downloads the main graphic, extracts its text, and applies translations to related SVGs.
        Finally, it saves the updated files and produces stats to help with uploading the translated assets back to
        Commons.
    </div>

</div>
{% endblock %}
