{% extends "base.html" %}

{% block title %}Copy SVG Translation{% endblock %}

{% block content %}

<div class="container">
    <h1 class="mb-3">Copy SVG Translation</h1>
    <form method="post" action="{{ url_for('tasks.start') }}" class="row gy-2 gx-3 align-items-center mb-4">
        <div class="col-sm-12 col-md-4">
            <label for="title" class="form-label">Template Title</label>
            <input type="text" class="form-control" id="title" name="title"
                value="{{ form.title if form and form.title else 'Template:OWID/death rate from obesity'}}" required>
        </div>
        <div class="col-sm-12 col-md-4">
            <label for="manual_main_title" class="form-label">Manual Main File Title (optional)</label>
            <input type="text" class="form-control" id="manual_main_title" name="manual_main_title"
                value="{{ form.manual_main_title if form and form.manual_main_title else '' }}"
                placeholder="File:Example.svg">
        </div>
        {% if set_titles_limit %}
        <div class="col-6 col-md-3">
            <label for="titles_limit" class="form-label">Titles Limit</label>
            <input type="number" class="form-control" id="titles_limit" name="titles_limit" min="1"
                value="{{ form.titles_limit if form and form.titles_limit else 1000 }}">
        </div>
        {% endif %}
        <div class="col-sm-12 col-md-4 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100">Start</button>
        </div>
        <div class="col-6 col-md-4 col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-check form-switch mt-2">
                        <input class="form-check-input" type="checkbox" value="z" id="overwrite" name="overwrite"
                            {{ 'checked' if not form or form.overwrite == "z" else '' }}>
                        <label class="form-check-label" for="overwrite">
                            Overwrite Existing translations
                        </label>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-check form-switch mt-2">
                        <input class="form-check-input" type="checkbox" value="z" id="upload" name="upload"
                            {{ 'checked' if not form or form.upload == "z" else '' }}>
                        <label class="form-check-label" for="upload">
                            Upload Files
                        </label>
                    </div>
                </div>
                <!-- <div class="col-sm-12">
                    <div class="form-check form-switch mt-2">
                        <input class="form-check-input" type="checkbox" value="1" id="ignore_existing_task"
                            name="ignore_existing_task" {{ 'checked' if form and form.ignore_existing_task else '' }}>
                        <label class="form-check-label" for="ignore_existing_task">
                            Ignore existing tasks
                        </label>
                    </div>
                </div> -->
            </div>
        </div>
    </form>
    <div class="alert alert-info" role="alert">
        This tool automates the translation and preparation of Wikimedia Commons SVG graphics.
        Given a template title, it fetches the template's wikitext and identifies the SVG files.
        It then downloads the main graphic, extracts its text, and applies translations to related SVGs.
        Finally, it saves the updated files and produces stats to help with uploading the translated assets back to
        Commons.
    </div>
</div>
{% endblock %}
