{% extends "admins/base.html" %}
{% block title %}OWID Charts · Copy SVG Translation{% endblock %}
{% block contents %}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="headline mb-0">OWID Charts</h3>
        <div>
            <button type="button" class="btn btn-primary" pup-target="{{ url_for('admin.add_chart_popup') }}"
                onclick="pup_window_new(this)">
                <i class="bi bi-plus-lg"></i> Add Chart
            </button>
            <a href="{{ url_for('admin.download_owid_charts_json') }}" class="btn btn-success">
                <i class="bi bi-download"></i> Download Json
            </a>
        </div>
    </div>
    <div class="card-body">
        {% if all_charts_summary %}
        <div class="row g-3 mb-4">
            <div class="col-md-3">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h2 class="h6 text-uppercase text-muted">Total Charts</h2>
                        <p class="display-6 mb-0">{{ all_charts_summary.total }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row g-3">
                    <div class="col-md-3">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h2 class="h6 text-uppercase text-muted">Published</h2>
                                <p class="h5 mb-1 text-success">
                                    {{ all_charts_summary.published.with }}
                                    <!-- <small class="text-muted">with</small> -->
                                </p>
                                <p class="h5 mb-0 text-secondary">
                                    {{ all_charts_summary.published.without }}
                                    <small class="text-muted">not published</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h2 class="h6 text-uppercase text-muted">Template</h2>
                                <p class="h5 mb-1 text-success">
                                    {{ all_charts_summary.template.with }}
                                    <!-- <small class="text-muted">with</small> -->
                                </p>
                                <p class="h5 mb-0 text-secondary">
                                    {{ all_charts_summary.template.without }}
                                    <small class="text-muted">without</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h2 class="h6 text-uppercase text-muted">Map Tab</h2>
                                <p class="h5 mb-1 text-success">
                                    {{ all_charts_summary.map_tab.with }}
                                    <!-- <small class="text-muted">with</small> -->
                                </p>
                                <p class="h5 mb-0 text-secondary">
                                    {{ all_charts_summary.map_tab.without }}
                                    <small class="text-muted">without</small>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h2 class="h6 text-uppercase text-muted">Timeline</h2>
                                <p class="h5 mb-1 text-success">
                                    {{ all_charts_summary.timeline.with }}
                                    <!-- <small class="text-muted">with</small> -->
                                </p>
                                <p class="h5 mb-0 text-secondary">
                                    {{ all_charts_summary.timeline.without }}
                                    <small class="text-muted">without</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}


        <div class="card mb-2 shadow-sm">
            <div class="card-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link {% if selected_template == '' %}active{% endif %}"
                            href="{{ url_for('admin.owid_charts_dashboard') }}">
                            All ({{ total_charts }})
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if selected_template == 'has_template' %}active{% endif %}"
                            href="{{ url_for('admin.owid_charts_dashboard', template='has_template') }}">
                            With Templates ({{ all_charts_summary.template.with }})
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if selected_template == 'no_template' %}active{% endif %}"
                            href="{{ url_for('admin.owid_charts_dashboard', template='no_template') }}">
                            Without Templates ({{ all_charts_summary.template.without }})
                        </a>
                    </li>
                </ul>

                <div class="table-responsive shadow-sm">
                    <table class="table table-hover align-middle mb-0 DataTable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Slug</th>
                                <th scope="col">Title</th>
                                <th scope="col" class="text-center">map</th>
                                <th scope="col" class="text-center">timeline</th>
                                <th scope="col" class="text-center">Years</th>
                                <th scope="col">Published</th>
                                <th scope="col">Template</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for chart in charts %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>
                                    <!-- <code> {{ chart.slug }} </code> -->
                                    <a href="https://ourworldindata.org/grapher/{{ chart.slug }}" target="_blank"
                                        rel="noopener noreferrer">
                                        <code> {{ chart.slug }} </code>
                                    </a>
                                </td>
                                <td>
                                    {{ chart.title }}
                                </td>
                                <td class="text-center">
                                    {% if chart.has_map_tab %}
                                    <i class="bi bi-check-circle-fill text-success"></i>
                                    {% else %}
                                    <i class="bi bi-x-circle-fill text-muted"></i>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if chart.has_timeline %}
                                    <i class="bi bi-check-circle-fill text-success"></i>
                                    {% else %}
                                    <i class="bi bi-x-circle-fill text-muted"></i>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if chart.has_timeline %}
                                    {{ chart.min_time }} - {{ chart.max_time }}
                                    {% if chart.len_years %}
                                    <small class="text-muted">({{ chart.len_years }})</small>
                                    {% endif %}
                                    {% else %}
                                    {{ chart.min_time }}
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if chart.is_published %}
                                    <span class="badge bg-success">Yes</span>
                                    {% else %}
                                    <span class="badge bg-secondary">No</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if chart.template_title %}
                                    <a href="https://commons.wikimedia.org/wiki/{{ chart.template_title }}"
                                        target="_blank" rel="noopener noreferrer">
                                        {{ chart.template_title | replace('Template:', '') }}
                                    </a>
                                    {% else %}
                                    <span class="text-muted">-</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-outline-primary btn-sm"
                                        pup-target="{{ url_for('admin.edit_chart', chart_id=chart.chart_id) }}"
                                        onclick="pup_window_new(this)">
                                        <i class="bi bi-pencil"></i> Edit
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script>
    function pup_window_new(element) {
        var target = $(element).attr("pup-target");
        window.open(
            target,
            "",
            "width=700,height=650,left=100,top=100,location=no"
        );
    }
</script>
{% endblock %}
