{% extends "admins/base1.html" %} {% block title %}Templates Need Update · Copy SVG
Translation{% endblock %} {% block contents %}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="headline mb-0">Templates Need Update</h3>
    </div>
    <div class="card-body">

        <div class="table-responsive shadow-sm">
            <table class="table table-hover align-middle mb-0" id="templatesNeedUpdateTable">
                <thead>
                    <tr>
                        <th scope="col" style="width: 5%">#</th>
                        <th scope="col">Template</th>
                        <th scope="col">Grapher url</th>
                        <th scope="col" class="text-center">Template Last Year</th>
                        <th scope="col" class="text-center">Chart Last Year</th>
                        <th scope="col" class="text-center">Difference</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}

<script>
    $(document).ready(function () {
        $("#templatesNeedUpdateTable").DataTable({
            ajax: {
                url: "/api/templates-need-update",
                type: "GET",
                dataSrc: "data"
            },
            columns: [
                {
                    data: null,
                    render: function (data, type, row, meta) {
                        return meta.row + 1;
                    },
                },
                {
                    data: "template_title",
                    render: function (data, type, row) {
                        return `<a href="https://commons.wikimedia.org/wiki/${data}" target="_blank" rel="noopener noreferrer">${data}</a>`;
                    }
                },
                {
                    data: "slug",
                    render: function (data, type, row) {
                        return `<a href="https://ourworldindata.org/grapher/${data}" target="_blank" rel="noopener noreferrer"><code>${data}</code></a>`;
                    }
                },
                {
                    data: "template_year",
                    render: function (data, type, row) {
                        return data ? data : '<span class="text-muted">-</span>';
                    }
                },
                {
                    data: "chart_year",
                    render: function (data, type, row) {
                        return data ? data : '<span class="text-muted">-</span>';
                    }
                },
                {
                    data: "difference",
                    render: function (data, type, row) {
                        return data !== null ? data : '<span class="text-muted">-</span>';
                    }
                }
            ],
            serverSide: false,
        });
    });
</script>
{% endblock %}
