{% extends "admins/jobs_templates/base_list.html" %}

{% set job_type = 'create_owid_pages' %}

{% block list_title %}Create OWID Pages{% endblock %}
{% block list_headline %}Create OWID Pages{% endblock %}

{% block start_confirm_message %}This will start a background job to create showcase pages for OWID templates. Continue?{% endblock %}
{% block start_icon %}bi-plus-circle{% endblock %}

{% block list_info %}
<div class="alert alert-info mb-3">
    <i class="bi bi-info-circle"></i>
    This job reads OWID template pages and generates corresponding showcase pages:
    <br>
    <code>Template:OWID/Some map</code> → <code>OWID/Some map</code>
</div>
{% endblock %}
