/* style="width:auto; height:320px; object-fit:cover;" */
.svg-thumbnail-compare {
    border: 1px solid rgba(44, 62, 80, 0.98);
    border-radius: 10px;
    width: 30rem;
    height: auto;
    object-fit: cover;
}

/* Mobile Responsiveness */
@media (max-width: 960px) {
    .navbar-collapse {
        border-radius: 10px;
        border: 1px solid rgba(44, 62, 80, 0.98);
        padding: 1rem;
        margin-top: 1rem;
    }

    .navbar-toggler {
        margin-right: auto;
        margin-left: 0;
        border: none;
        color: var(--light-text);
    }
}
