{% extends "base.html" %}
{% from "_macros.html" import status_icon %}
{% from "_macros/forms.html" import form_start_job %}
{% from "jobs_templates/_help_templates/_jobs_actions.html" import jobs_actions %}

{% block title %} {{ template_data.job_name }} · {{ tool_title }}{% endblock %}

{% block content_not_fluid %}
{% set _list_info %}{% block list_info %}{% endblock %}{% endset %}
{% set _header_actions %}{% block header_actions %}{% endblock %}{% endset %}
{% set _table_extra_actions %}{% block table_extra_actions %}{% endblock %}{% endset %}
{% include "jobs_templates/_list_table.html" %}
{% endblock %}
