{% extends "jobs_templates/admin/base_details.html" %}
{% from "_macros.html" import card_header, stats_card, render_step, commons_file_link %}
{% from "jobs_templates/_help_templates/_skipped_table.html" import table_header_to_expand %}

{% block job_info_extra %}
{% if result_data and result_data.args %}
{% if result_data.args.list_titles %}
<tr>
    <th>List of titles:</th>
    <td>
        {{ result_data.args.list_titles }}
    </td>
</tr>
{% else %}
<tr>
    <th>Update all data:</th>
    <td>
        {{ result_data.args.update_all }}
    </td>
</tr>
{% endif %}

{% endif %}
{% endblock %}

{% block job_summary %}
{% set total_skipped = ( result_data.pages_skipped|length ) + (result_data.summary.already_had_main_file or 0) %}

<div class="row g-3 mb-4">
    <div class="col-md-3">
        {{ stats_card('Processed', (result_data.summary.processed or 0) ~ ' / ' ~ result_data.summary.total, "primary", "") }}
    </div>
    <div class="col-md-9">
        <div class="row g-3">
            <div class="col">
                {{ stats_card('Added', result_data.summary.added or ( result_data.pages_added|length ), "success", "") }}
            </div>
            <div class="col">
                {{ stats_card('Updated', result_data.summary.updated or ( result_data.pages_updated|length ), "success", "") }}
            </div>
            <div class="col">
                {{ stats_card('skipped', total_skipped, "secondary", "") }}
            </div>
            <div class="col">
                {{ stats_card('Failed', result_data.summary.failed or ( result_data.pages_failed|length ), "danger", "") }}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block job_details %}
<!-- Added Templates -->
{% if result_data.pages_added %}
<div class="card mb-3">
    <div class="card-header">
        {{ card_header("Added Templates (" ~ result_data.pages_added|length ~ ")") }}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    {% for template in result_data.pages_added %}
                    <tr>
                        <td> {{ loop.index }} </td>
                        <td>
                            <a href='https://commons.wikimedia.org/wiki/{{ template.title }}' target='_blank'
                                rel='noopener noreferrer'>
                                {{ template.title }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}



{% macro pages_updated_table(data, table_title) %}
{% if data|length > 100 and not expand_all %}
{{ table_header_to_expand(data, table_title, job.id, job_type) }}
{% else %}
<div class="card mb-3">
    <div class="card-header">
        {{ card_header(table_title ~ " (" ~ data|length ~ ")") }}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th><i class="bi bi-pencil me-3"></i></th>
                        <th>Oldest File</th>
                        <th>Newest File</th>
                        <th>Template year</th>
                        <th>Source</th>
                        <th>Slug</th>
                        <th>Msg</th>
                    </tr>
                </thead>
                <tbody>
                    {% for template in data %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            <a href='https://commons.wikimedia.org/wiki/{{ template.title }}' target='_blank'
                                rel='noopener noreferrer'>
                                {{ template.title | replace("Template:OWID/", "", 1) }}
                            </a>
                        </td>
                        <td>
                            <a type="button" class="btn-outline-primary btn-sm"
                                pup-target="{{ url_for('admin.templates.edit_by_title', template_title=template.title) }}"
                                onclick="pup_window_new(this, 600, 600)">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </td>
                        <td>
                            {% if template.steps %}
                            {{ render_step(template.steps.main_file) }}
                            {% else %}
                            {{ commons_file_link(template.new_main_file) }}
                            {% endif %}
                        </td>
                        <td>
                            {% if template.steps %}
                            {{ render_step(template.steps.last_world_file) }}
                            {% else %}
                            {{ commons_file_link(template.last_world_file) }}
                            {% endif %}
                        </td>
                        <td>
                            {% if template.steps %}
                            {{ render_step(template.steps.newest_year) }}
                            {% else %}
                            <code>{{ template.newest_year or "-" }}</code>
                            {% endif %}
                        </td>
                        <td>
                            {% if template.steps %}
                            {{ render_step(template.steps.source) }}
                            {% else %}
                            <code>{{ template.source or "-"}}</code>
                            {% endif %}
                        </td>
                        <td>
                            {% if template.steps %}
                            {{ render_step(template.steps.slug) }}
                            {% else %}
                            <code>-</code>
                            {% endif %}
                        </td>
                        <td>
                            <code>{{ template.msg or template.error or template.reason }}</code>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{%- endmacro -%}

<!-- Updated Templates -->
{% if result_data.pages_updated %}
{{ pages_updated_table(result_data.pages_updated, 'Updated Templates') }}
{% endif %}

<!-- Skipped Templates -->
{% if result_data.pages_skipped %}
{{ pages_updated_table(result_data.pages_skipped, 'Skipped Templates') }}
{% endif %}

<!-- Failed Templates -->
{% if result_data.pages_failed %}
{{ pages_updated_table(result_data.pages_failed, 'Failed Templates') }}
{% endif %}

{% endblock %}

{% block extra_js %}

<script>
</script>
{% endblock %}
