{% extends "base.html" %}
{% from "_macros.html" import card_header %}

{% block title %}SVG Files{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="card shadow">
        <div class="card-header">
            {{ card_header("SVG Files") }}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tasks-table" class="table table-striped table-hover align-middle DataTable"
                    style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Files Downloaded</th>
                            <th scope="col">Files Translated</th>
                            <th scope="col">Not translated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for title, tab in data.items() %}
                        <tr>
                            <td>
                                {{ loop.index }}
                            </td>
                            <td>
                                <a href="{{ url_for('explorer.by_title', title=title) }}" class="">
                                    Template:OWID/{{ title.replace("_", " ") }}
                                </a>
                            </td>
                            <td>
                                {{ tab.downloaded }}
                            </td>
                            <td>
                                {{ tab.translated }}
                            </td>
                            <td>
                                {{ tab.not_translated }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
